{% extends "base.html" %} {% load static %} {% block content %}
<div id="content-header">
      <div id="breadcrumb">
            <a href="/veiculos/" title="Ir até a Home" class="tip-bottom">
                  <i class="icon-home"></i> Home</a>
            <a href="/veiculos/automovel" class="tip-bottom">Listagem de Auto's</a>
      </div>
      <h1>Automóveis Disponíveis</h1>
      <hr>
</div>
<div class="span11">
      <table class="table">
            <thead>
                  <tr>
                        <th>TIPO</th>
                        <th>NOME</th>
                        <th>ANO</th>
                        <th>FABRICANTE</th>
                  </tr>
            </thead>
            <tbody>
                  {% for veiculo in veiculos %}
                  <tr>
                        <th>{{veiculo.tipo}}</th>
                        <th>{{veiculo.nome}}</th>
                        <th>{{veiculo.ano}}</th>
                        <th>{{veiculo.fabricante}}</th>
                        <th>
                            <a href="/veiculos/automovel/{{veiculo.id}}/">Ver</a>
                              /
                            <a href="/veiculos/automovel/{{veiculo.id}}/edit/">Editar</a>
                        </th>
                  </tr>
                  {% endfor %}
            </tbody>
      </table>
</div>

{% endblock %}