{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <title>Local Car</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="header">
    <h1 id="nome-locadora">
      <a> Local Car</a>
    </h1>
    <div id="search">
      <input type="text" placeholder="Search here..." />
      <button type="submit" class="tip-bottom" title="Search">
        <i class="icon-search icon-white"></i>
      </button>
    </div>
  </div>

  <div id="sidebar">
    <ul>
      <li>
        <a id="icone" href="/veiculos/">
          <i class="icon icon-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a id="icone" href="/veiculos/automovel/">
          <i class="icon icon-th-list"></i>
          <span>Listagem de Auto's</span>
        </a>
      </li>
      <li>
        <a href="/veiculos/contato/">
          <i class="icon icon-inbox"></i>
          <span>Contato</span>
        </a>
      </li>
      <li>
        <a href="/veiculos/automovel/form/">
          <i class="icon icon-list"></i>
          <span>Forms</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="content">
    <div class="container-header">
      <div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>


  <script src="{% static 'js/excanvas.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/matrix.charts.js' %}"></script>
  <script src="{% static 'js/jquery.ui.custom.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.flot.min.js' %}"></script>
  <script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
  <script src="{% static 'js/jquery.peity.min.js' %}"></script>
  <script src="{% static 'js/fullcalendar.min.js' %}"></script>
  <script src="{% static 'js/matrix.js' %}"></script>
  <script src="{% static 'js/matrix.dashboard.js' %}"></script>
  <script src="{% static 'js/jquery.gritter.min.js' %}"></script>
  <script src="{% static 'js/matrix.interface.js' %}"></script>
  <script src="{% static 'js/matrix.chat.js' %}"></script>
  <script src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.js' %}"></script>
  <script src="{% static 'js/matrix.form_validation.js' %}"></script>
  <script src="{% static 'js/jquery.wizard.js' %}"></script>
  <script src="{% static 'js/jquery.uniform.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/matrix.popover.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/matrix.tables.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.ui.custom.js' %}"></script>
  <script src="{% static 'js/matrix.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

        // if url is "-", it is this page -- reset the menu:
        if (newURL == "-") {
          resetMenu();
        }
        // else, send page to designated URL            
        else {
          document.location.href = newURL;
        }
      }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
      document.gomenu.selector.selectedIndex = 2;
    }
  </script>
</body>
</html>