{% extends "base.html" %} {% load static %} {% block content %}
<div class="row-fluid">
  <div class="span6">
    <img src="{% static '/img/mustang.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mustang</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <a href="#" class="btn btn-dark">Saiba Mais</a>
    </div>
  </div>
  <div class="span6">
    <img src="{% static '/img/images.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ferrari</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <a href="#" class="btn btn-light">Saiba Mais</a>
    </div>
  </div>
</div>
{% endblock %}