{% extends "base.html" %} {% load static %} {% block content %}
<div id="row-fluid">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/veiculos/" title="Go to Home" class="tip-bottom">
        <i class="icon-home"></i> Home</a>
    </div>
    <h1>Home</h1>
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="carousel-item active">
          <img src="{% static '/img/ferrari.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static '/img/carrera.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static '/img/r1.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  {% endblock %}